body {
    font-family: Arial;
    margin: 20px;
    background: #f0f0f0;
}

h1, h2 {
    text-align: center;
}

form input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}
